<table style="max-width:555px;background-color:#eff3f2;border-style:none;margin:0 auto;height:255px;">
	<tbody>
		<tr>
			<th colspan="2" style="height: 20px;font-size: 24px;background:#009085;color:#fff;text-align:inherit;border-left: 9px solid #23746e;padding-left: 10px;">CẢNH BÁO SÁCH QUÁ HẠN</th>
		</tr>
		<tr style="font-size: 20px;height: 20px;">
			<td style="width: 100px;font-weight: bold;padding: 0;">Tên sách: </td>
			<td style="
    padding: 0;
">Lập trình cơ sở dữ liệu</td>
		</tr>
		<tr style="font-size: 20px;height: 20px;">
			<td style="width: 80px;font-weight: bold;">Số lượng: </td>
			<td>9</td>
		</tr>
		<tr>
			<td colspan="2" style="background-color:bisque;height: 20px;text-align:end;padding-right:15px;border-right:9px solid #c6955b;"><b><i>Gửi từ | Thư viện</i></b></td>
		</tr>
	</tbody>
</table>